{% extends "layout.html" %}

{% block content %}
    <form method="post" action="/signup">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
          <legend>Let's join us Mate!</legend>
          <div class="form-group">
              {{ form.username.label }}
              {{ form.username }}
              min length 4 max 15
          </div>
          <div class="form-group">
              {{ form.email.label }}
              {{ form.email }}
              email data required
          </div>
          <div class="form-group">
              {{ form.password.label }}
              {{ form.password }}
              min 8 max 80
          </div>
          <div class="form-group">
              {{ form.password_con.label }}
              {{ form.password_con }}
              must be equal
          </div>
          <div class="form-group">
              {{ form.submit }}
          </div>
      </fieldset>
    </form>
{% endblock content %}